infra/modules/workflow.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": {
      "type": "Object"
    },
    "customerId": {
      "type": "String"
    },
    "recipientEmail": {
      "type": "String"
    },
    "senderMailbox": {
      "type": "String"
    },
    "scheduleHour": {
      "type": "Int"
    },
    "scheduleTimeZone": {
      "type": "String"
    },
    "sentinelWorkspaceResourceId": {
      "type": "String"
    },
    "tenantId": {
      "type": "String"
    },
    "userAssignedIdentityResourceId": {
      "type": "String"
    },
    "estimatedPricePerGb": {
      "type": "String"
    },
    "currencyCode": {
      "type": "String"
    },
    "templatesStorageAccount": {
      "type": "String"
    },
    "templatesContainer": {
      "type": "String"
    },
    "costCapMonthlyEur": {
      "type": "Int",
      "defaultValue": 50
    },
    "opsAlertEmail": {
      "type": "String",
      "defaultValue": ""
    },
    "reportLanguage": {
      "type": "String",
      "defaultValue": "en"
    },
    "templateVariant": {
      "type": "String",
      "defaultValue": "tech"
    },
    "snapshotsContainer": {
      "type": "String",
      "defaultValue": "snapshots"
    },
    "reportsContainer": {
      "type": "String",
      "defaultValue": "reports"
    }
  },
  "triggers": {
    "manual": {
      "type": "Request",
      "kind": "Http",
      "inputs": {}
    }
  },
  "actions": {
    "Init_ReportPeriod": {
      "type": "Compose",
      "runAfter": {},
      "inputs": {
        "endUtc": "@{utcNow()}",
        "startUtc": "@{addDays(utcNow(), -7)}",
        "billingCycleStartUtc": "@{startOfMonth(utcNow())}"
      }
    },
    "Init_BlobBaseUri": {
      "type": "Compose",
      "runAfter": {
        "Init_ReportPeriod": [
          "Succeeded"
        ]
      },
      "inputs": "@{concat('https://', parameters('templatesStorageAccount'), '.blob.core.windows.net/', parameters('templatesContainer'), '/', parameters('customerId'))}"
    },
    "Fetch_Variant_Template": {
      "type": "Http",
      "runAfter": {
        "Init_BlobBaseUri": [
          "Succeeded"
        ]
      },
      "inputs": {
        "method": "GET",
        "uri": "@{concat(outputs('Init_BlobBaseUri'), '/template-', parameters('templateVariant'), '.html')}",
        "headers": {
          "x-ms-version": "2021-12-02"
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        }
      }
    },
    "Fetch_Fallback_Template": {
      "type": "Http",
      "runAfter": {
        "Fetch_Variant_Template": [
          "Failed",
          "TimedOut"
        ]
      },
      "inputs": {
        "method": "GET",
        "uri": "@{concat(outputs('Init_BlobBaseUri'), '/template.html')}",
        "headers": {
          "x-ms-version": "2021-12-02"
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 3,
          "interval": "PT10S"
        }
      }
    },
    "Pick_Template": {
      "type": "Compose",
      "runAfter": {
        "Fetch_Variant_Template": [
          "Succeeded",
          "Failed",
          "TimedOut"
        ],
        "Fetch_Fallback_Template": [
          "Succeeded",
          "Skipped"
        ]
      },
      "inputs": "@if(equals(actions('Fetch_Variant_Template')?['status'],'Succeeded'), body('Fetch_Variant_Template'), body('Fetch_Fallback_Template'))"
    },
    "Fetch_Customer_Section": {
      "type": "Http",
      "runAfter": {
        "Pick_Template": [
          "Succeeded"
        ]
      },
      "inputs": {
        "method": "GET",
        "uri": "@{concat(outputs('Init_BlobBaseUri'), '/section.html')}",
        "headers": {
          "x-ms-version": "2021-12-02"
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 3,
          "interval": "PT10S"
        }
      }
    },
    "Fetch_Customer_Config": {
      "type": "Http",
      "runAfter": {
        "Fetch_Customer_Section": [
          "Succeeded"
        ]
      },
      "inputs": {
        "method": "GET",
        "uri": "@{concat(outputs('Init_BlobBaseUri'), '/config.json')}",
        "headers": {
          "x-ms-version": "2021-12-02"
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 3,
          "interval": "PT10S"
        }
      }
    },
    "Parse_Customer_Config": {
      "type": "ParseJson",
      "runAfter": {
        "Fetch_Customer_Config": [
          "Succeeded"
        ]
      },
      "inputs": {
        "content": "@body('Fetch_Customer_Config')",
        "schema": {
          "type": "object",
          "properties": {
            "customerId": {
              "type": "string"
            },
            "displayName": {
              "type": "string"
            },
            "logoUrl": {
              "type": "string"
            },
            "primaryColor": {
              "type": "string"
            },
            "accentColor": {
              "type": "string"
            },
            "footerText": {
              "type": "string"
            },
            "audience": {
              "type": "string"
            },
            "industry": {
              "type": "string"
            },
            "tone": {
              "type": "string"
            },
            "focusAreas": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "sectionsEnabled": {
              "type": "object"
            },
            "language": {
              "type": "string"
            },
            "recipients": {
              "type": "object",
              "properties": {
                "default": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "exec": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "tech": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            },
            "pdfAttachment": {
              "type": "boolean"
            },
            "pdfDriveUserUpn": {
              "type": "string"
            },
            "teamsWebhookUrl": {
              "type": "string"
            },
            "pii": {
              "type": "object",
              "properties": {
                "blockSubstrings": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "abortOnFinding": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "Parallel_Collect": {
      "type": "Scope",
      "runAfter": {
        "Parse_Customer_Config": [
          "Succeeded"
        ]
      },
      "actions": {
        "Collect_SentinelIncidents_KQL": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://api.loganalytics.io/v1@{parameters('sentinelWorkspaceResourceId')}/query",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://api.loganalytics.io"
            },
            "body": {
              "query": "SecurityIncident\n| where TimeGenerated >= ago(7d)\n| summarize arg_max(TimeGenerated, *) by IncidentNumber\n| extend SeverityLower = tolower(Severity)\n| summarize OpenCount=countif(Status != 'Closed'), NewThisWeek=countif(CreatedTime >= ago(7d)), High=countif(SeverityLower == 'high'), Medium=countif(SeverityLower == 'medium'), Low=countif(SeverityLower == 'low'), Top=make_list(pack('id', tostring(IncidentNumber), 'title', Title, 'severity', Severity, 'owner', tostring(Owner), 'createdUtc', tostring(CreatedTime)), 10)"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_SentinelCost_KQL": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://api.loganalytics.io/v1@{parameters('sentinelWorkspaceResourceId')}/query",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://api.loganalytics.io"
            },
            "body": {
              "query": "let pricePerGb = todouble('@{parameters('estimatedPricePerGb')}');\nlet cycleStart = startofmonth(now());\nlet cycleEnd   = endofmonth(now());\nlet cycle = Usage\n| where TimeGenerated between (cycleStart .. cycleEnd)\n| where IsBillable == true\n| summarize GbCycle = sum(Quantity)/1024.0 by Solution;\nlet weekly = Usage\n| where TimeGenerated >= ago(7d)\n| where IsBillable == true\n| summarize GbWeek = sum(Quantity)/1024.0;\ncycle\n| summarize TotalGbCycle=sum(GbCycle)\n| extend GbLastWeek = toscalar(weekly), EstimatedCostCycle = round(TotalGbCycle * pricePerGb, 2)"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_XdrIncidents_Graph": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/security/incidents?$filter=createdDateTime%20ge%20@{addDays(utcNow(),-7)}&$top=50&$orderby=createdDateTime%20desc",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_RiskyUsers_Graph": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/identityProtection/riskyUsers?$filter=riskLevel%20eq%20'high'%20and%20riskLastUpdatedDateTime%20ge%20@{addDays(utcNow(),-7)}&$top=50",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_Vulnerabilities_Defender": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://api.securitycenter.microsoft.com/api/vulnerabilities?$filter=severity%20eq%20'Critical'%20or%20severity%20eq%20'High'&$top=50&$orderby=cvssV3%20desc",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://api.securitycenter.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_ThreatIntel_Graph": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/beta/security/tiIndicators?$top=20",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_EntraRiskDetections_Graph": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/identityProtection/riskDetections?$filter=detectedDateTime%20ge%20@{addDays(utcNow(),-7)}&$top=100&$orderby=detectedDateTime%20desc",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_IntuneCompliance_Graph": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/deviceManagement/managedDevices?$filter=complianceState%20ne%20'compliant'&$top=100&$select=id,deviceName,operatingSystem,complianceState,lastSyncDateTime,userPrincipalName",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_MDTI_Articles_Graph": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/beta/security/threatIntelligence/articles?$filter=lastUpdatedDateTime%20ge%20@{addDays(utcNow(),-7)}&$top=50&$orderby=lastUpdatedDateTime%20desc",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_DlpAlerts_Graph": {
          "type": "Http",
          "inputs": {
            "method": "GET",
            "uri": "https://graph.microsoft.com/v1.0/security/alerts_v2?$filter=serviceSource%20eq%20'dataLossPrevention'%20and%20createdDateTime%20ge%20@{addDays(utcNow(),-7)}&$top=100&$orderby=createdDateTime%20desc",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        },
        "Collect_DefenderCost_AzureMgmt": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "https://management.azure.com/subscriptions/@{split(parameters('sentinelWorkspaceResourceId'),'/')[2]}/providers/Microsoft.CostManagement/query?api-version=2023-11-01",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://management.azure.com/"
            },
            "body": {
              "type": "ActualCost",
              "timeframe": "BillingMonthToDate",
              "dataset": {
                "granularity": "None",
                "aggregation": {
                  "totalCost": {
                    "name": "PreTaxCost",
                    "function": "Sum"
                  }
                },
                "grouping": [
                  {
                    "type": "Dimension",
                    "name": "MeterCategory"
                  }
                ],
                "filter": {
                  "dimensions": {
                    "name": "MeterCategory",
                    "operator": "In",
                    "values": [
                      "Microsoft Defender for Cloud",
                      "Microsoft Defender for Endpoint"
                    ]
                  }
                }
              }
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 3,
              "interval": "PT20S"
            }
          }
        }
      }
    },
    "Build_Dataset": {
      "type": "Compose",
      "runAfter": {
        "Parallel_Collect": [
          "Succeeded",
          "Failed",
          "Skipped",
          "TimedOut"
        ]
      },
      "inputs": {
        "reportPeriod": {
          "start": "@{addDays(utcNow(),-7)}",
          "end": "@{utcNow()}",
          "timezone": "@{parameters('scheduleTimeZone')}"
        },
        "customer": {
          "id": "@{parameters('customerId')}",
          "displayName": "@{body('Parse_Customer_Config')?['displayName']}",
          "tenantId": "@{parameters('tenantId')}"
        },
        "vulnerabilities": "@if(equals(actions('Collect_Vulnerabilities_Defender')?['status'],'Succeeded'), body('Collect_Vulnerabilities_Defender'), null)",
        "threatLandscape": "@if(equals(actions('Collect_ThreatIntel_Graph')?['status'],'Succeeded'), body('Collect_ThreatIntel_Graph'), null)",
        "xdrIncidents": "@if(equals(actions('Collect_XdrIncidents_Graph')?['status'],'Succeeded'), body('Collect_XdrIncidents_Graph'), null)",
        "sentinelIncidents": "@if(equals(actions('Collect_SentinelIncidents_KQL')?['status'],'Succeeded'), body('Collect_SentinelIncidents_KQL'), null)",
        "riskyIdentities": "@if(equals(actions('Collect_RiskyUsers_Graph')?['status'],'Succeeded'), body('Collect_RiskyUsers_Graph'), null)",
        "entraIdProtection": "@if(equals(actions('Collect_EntraRiskDetections_Graph')?['status'],'Succeeded'), body('Collect_EntraRiskDetections_Graph'), null)",
        "intuneCompliance": "@if(equals(actions('Collect_IntuneCompliance_Graph')?['status'],'Succeeded'), body('Collect_IntuneCompliance_Graph'), null)",
        "sentinelCost": {
          "currency": "@{parameters('currencyCode')}",
          "billingCycleStart": "@{startOfMonth(utcNow())}",
          "estimatedPricePerGb": "@{parameters('estimatedPricePerGb')}",
          "raw": "@{if(equals(actions('Collect_SentinelCost_KQL')?['status'],'Succeeded'), body('Collect_SentinelCost_KQL'), null)}",
          "note": "Estimated from Log Analytics Usage table - not invoiced cost."
        },
        "mdtiArticles": "@if(equals(actions('Collect_MDTI_Articles_Graph')?['status'],'Succeeded'), body('Collect_MDTI_Articles_Graph'), null)",
        "purviewDlp": "@if(equals(actions('Collect_DlpAlerts_Graph')?['status'],'Succeeded'), body('Collect_DlpAlerts_Graph'), null)",
        "defenderCost": {
          "currency": "@{parameters('currencyCode')}",
          "billingCycleStart": "@{startOfMonth(utcNow())}",
          "raw": "@{if(equals(actions('Collect_DefenderCost_AzureMgmt')?['status'],'Succeeded'), body('Collect_DefenderCost_AzureMgmt'), null)}",
          "note": "Actual billed cost from Azure Cost Management for MDC + MDE meters this billing cycle."
        }
      }
    },
    "Project_Monthly_Cost": {
      "type": "Compose",
      "runAfter": {
        "Build_Dataset": [
          "Succeeded"
        ]
      },
      "inputs": {
        "sentinelCycleEur": "@if(equals(actions('Collect_SentinelCost_KQL')?['status'],'Succeeded'), if(greater(length(body('Collect_SentinelCost_KQL')?['tables'][0]?['rows']),0), float(body('Collect_SentinelCost_KQL')?['tables'][0]?['rows'][0][2]), 0), 0)",
        "copilotEstimateEur": 5,
        "capEur": "@parameters('costCapMonthlyEur')",
        "capExceeded": "@if(greater(parameters('costCapMonthlyEur'), 0), greater(add(add(if(equals(actions('Collect_SentinelCost_KQL')?['status'],'Succeeded'), if(greater(length(body('Collect_SentinelCost_KQL')?['tables'][0]?['rows']),0), float(body('Collect_SentinelCost_KQL')?['tables'][0]?['rows'][0][2]), 0), 0), 5), add(if(and(equals(actions('Collect_DefenderCost_AzureMgmt')?['status'],'Succeeded'),greaterOrEquals(length(coalesce(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'], json('[]'))),1)),float(string(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'][0][0])),0),if(and(equals(actions('Collect_DefenderCost_AzureMgmt')?['status'],'Succeeded'),greaterOrEquals(length(coalesce(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'], json('[]'))),2)),float(string(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'][1][0])),0))), parameters('costCapMonthlyEur')), false)",
        "defenderCycleEur": "@add(if(and(equals(actions('Collect_DefenderCost_AzureMgmt')?['status'],'Succeeded'),greaterOrEquals(length(coalesce(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'], json('[]'))),1)),float(string(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'][0][0])),0),if(and(equals(actions('Collect_DefenderCost_AzureMgmt')?['status'],'Succeeded'),greaterOrEquals(length(coalesce(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'], json('[]'))),2)),float(string(body('Collect_DefenderCost_AzureMgmt')?['properties']?['rows'][1][0])),0))"
      }
    },
    "Compute_KPIs": {
      "type": "Compose",
      "runAfter": {
        "Project_Monthly_Cost": [
          "Succeeded"
        ]
      },
      "inputs": {
        "weekEndUtc": "@{utcNow()}",
        "newIncidents": "@if(and(equals(actions('Collect_SentinelIncidents_KQL')?['status'],'Succeeded'), greater(length(body('Collect_SentinelIncidents_KQL')?['tables'][0]?['rows']),0)), int(string(body('Collect_SentinelIncidents_KQL')?['tables'][0]?['rows'][0][1])), 0)",
        "openIncidents": "@if(and(equals(actions('Collect_SentinelIncidents_KQL')?['status'],'Succeeded'), greater(length(body('Collect_SentinelIncidents_KQL')?['tables'][0]?['rows']),0)), int(string(body('Collect_SentinelIncidents_KQL')?['tables'][0]?['rows'][0][0])), 0)",
        "highSevIncidents": "@if(and(equals(actions('Collect_SentinelIncidents_KQL')?['status'],'Succeeded'), greater(length(body('Collect_SentinelIncidents_KQL')?['tables'][0]?['rows']),0)), int(string(body('Collect_SentinelIncidents_KQL')?['tables'][0]?['rows'][0][2])), 0)",
        "vulnsCount": "@if(equals(actions('Collect_Vulnerabilities_Defender')?['status'],'Succeeded'), length(coalesce(body('Collect_Vulnerabilities_Defender')?['value'], json('[]'))), 0)",
        "xdrIncidents": "@if(equals(actions('Collect_XdrIncidents_Graph')?['status'],'Succeeded'), length(coalesce(body('Collect_XdrIncidents_Graph')?['value'], json('[]'))), 0)",
        "riskyUsers": "@if(equals(actions('Collect_RiskyUsers_Graph')?['status'],'Succeeded'), length(coalesce(body('Collect_RiskyUsers_Graph')?['value'], json('[]'))), 0)",
        "sentinelGbCycle": "@if(and(equals(actions('Collect_SentinelCost_KQL')?['status'],'Succeeded'), greater(length(body('Collect_SentinelCost_KQL')?['tables'][0]?['rows']),0)), float(string(body('Collect_SentinelCost_KQL')?['tables'][0]?['rows'][0][0])), 0)",
        "sentinelCostEur": "@outputs('Project_Monthly_Cost')?['sentinelCycleEur']",
        "sourcesOk": {
          "sentinel": "@equals(actions('Collect_SentinelIncidents_KQL')?['status'],'Succeeded')",
          "vulns": "@equals(actions('Collect_Vulnerabilities_Defender')?['status'],'Succeeded')",
          "xdr": "@equals(actions('Collect_XdrIncidents_Graph')?['status'],'Succeeded')",
          "risky": "@equals(actions('Collect_RiskyUsers_Graph')?['status'],'Succeeded')",
          "cost": "@equals(actions('Collect_SentinelCost_KQL')?['status'],'Succeeded')",
          "entraIdp": "@equals(actions('Collect_EntraRiskDetections_Graph')?['status'],'Succeeded')",
          "intune": "@equals(actions('Collect_IntuneCompliance_Graph')?['status'],'Succeeded')",
          "mdti": "@equals(actions('Collect_MDTI_Articles_Graph')?['status'],'Succeeded')",
          "dlp": "@equals(actions('Collect_DlpAlerts_Graph')?['status'],'Succeeded')",
          "defenderCost": "@equals(actions('Collect_DefenderCost_AzureMgmt')?['status'],'Succeeded')"
        },
        "entraRiskDetections": "@if(equals(actions('Collect_EntraRiskDetections_Graph')?['status'],'Succeeded'), length(coalesce(body('Collect_EntraRiskDetections_Graph')?['value'], json('[]'))), 0)",
        "intuneNonCompliant": "@if(equals(actions('Collect_IntuneCompliance_Graph')?['status'],'Succeeded'), length(coalesce(body('Collect_IntuneCompliance_Graph')?['value'], json('[]'))), 0)",
        "mdtiArticleCount": "@if(equals(actions('Collect_MDTI_Articles_Graph')?['status'],'Succeeded'), length(coalesce(body('Collect_MDTI_Articles_Graph')?['value'], json('[]'))), 0)",
        "dlpAlertCount": "@if(equals(actions('Collect_DlpAlerts_Graph')?['status'],'Succeeded'), length(coalesce(body('Collect_DlpAlerts_Graph')?['value'], json('[]'))), 0)",
        "defenderCostEur": "@outputs('Project_Monthly_Cost')?['defenderCycleEur']"
      }
    },
    "Load_History": {
      "type": "Http",
      "runAfter": {
        "Compute_KPIs": [
          "Succeeded"
        ]
      },
      "inputs": {
        "method": "GET",
        "uri": "@{concat('https://', parameters('templatesStorageAccount'), '.blob.core.windows.net/', parameters('snapshotsContainer'), '/', parameters('customerId'), '/history.json')}",
        "headers": {
          "x-ms-version": "2021-12-02"
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        }
      }
    },
    "Init_HistoryEntries": {
      "type": "Compose",
      "runAfter": {
        "Load_History": [
          "Succeeded",
          "Failed",
          "TimedOut"
        ]
      },
      "inputs": "@if(equals(actions('Load_History')?['status'],'Succeeded'), coalesce(json(string(body('Load_History')))?['entries'], json('[]')), json('[]'))"
    },
    "Build_PriorKpis": {
      "type": "Compose",
      "runAfter": {
        "Init_HistoryEntries": [
          "Succeeded"
        ]
      },
      "inputs": "@if(greater(length(outputs('Init_HistoryEntries')),0), coalesce(outputs('Init_HistoryEntries')[0]?['kpis'], json('{}')), json('{}'))"
    },
    "Build_KPI_Strip": {
      "type": "Compose",
      "runAfter": {
        "Build_PriorKpis": [
          "Succeeded"
        ]
      },
      "inputs": "@{concat(\n  '<table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"margin:8px 0 0 0;background:#f6f8fa;border:1px solid #e1e4e8;border-radius:6px;\"><tr>',\n  '<td style=\"padding:10px 12px;text-align:center;border-right:1px solid #e1e4e8;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">Open incidents</div><div style=\"font-size:20px;font-weight:700;color:#1f2328;line-height:1.1;\">', string(outputs('Compute_KPIs')?['openIncidents']), '</div><div style=\"font-size:11px;color:', if(greater(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)))), '#b91c1c', if(less(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)))), '#16a34a', '#6e7781')), ';\">', if(greater(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)))), concat('&#9650; +', string(sub(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)))))), if(less(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)))), concat('&#9660; ', string(sub(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)))))), '&#8211; flat')), '</div></td>',\n  '<td style=\"padding:10px 12px;text-align:center;border-right:1px solid #e1e4e8;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">High sev</div><div style=\"font-size:20px;font-weight:700;color:#b91c1c;line-height:1.1;\">', string(outputs('Compute_KPIs')?['highSevIncidents']), '</div><div style=\"font-size:11px;color:#6e7781;\">prior ', string(coalesce(outputs('Build_PriorKpis')?['highSevIncidents'],0)), '</div></td>',\n  '<td style=\"padding:10px 12px;text-align:center;border-right:1px solid #e1e4e8;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">New (7d)</div><div style=\"font-size:20px;font-weight:700;color:#1f2328;line-height:1.1;\">', string(outputs('Compute_KPIs')?['newIncidents']), '</div><div style=\"font-size:11px;color:#6e7781;\">prior ', string(coalesce(outputs('Build_PriorKpis')?['newIncidents'],0)), '</div></td>',\n  '<td style=\"padding:10px 12px;text-align:center;border-right:1px solid #e1e4e8;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">Crit/High vulns</div><div style=\"font-size:20px;font-weight:700;color:#1f2328;line-height:1.1;\">', string(outputs('Compute_KPIs')?['vulnsCount']), if(equals(int(string(outputs('Compute_KPIs')?['vulnsCount'])), 50), '+', ''), '</div><div style=\"font-size:11px;color:#6e7781;\">prior ', string(coalesce(outputs('Build_PriorKpis')?['vulnsCount'],0)), '</div></td>',\n  '<td style=\"padding:10px 12px;text-align:center;border-right:1px solid #e1e4e8;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">Risky users</div><div style=\"font-size:20px;font-weight:700;color:#1f2328;line-height:1.1;\">', string(outputs('Compute_KPIs')?['riskyUsers']), '</div><div style=\"font-size:11px;color:#6e7781;\">prior ', string(coalesce(outputs('Build_PriorKpis')?['riskyUsers'],0)), '</div></td>',\n  '<td style=\"padding:10px 12px;text-align:center;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">Sentinel cost</div><div style=\"font-size:20px;font-weight:700;color:#1f2328;line-height:1.1;\">', string(outputs('Compute_KPIs')?['sentinelCostEur']), '&euro;</div><div style=\"font-size:11px;color:#6e7781;\">cycle / cap ', string(parameters('costCapMonthlyEur')), '&euro;</div></td>',\n  '<td style=\"padding:10px 12px;text-align:center;border-right:1px solid #e1e4e8;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">Entra IDP risk</div><div style=\"font-size:20px;font-weight:700;color:#7c2d12;line-height:1.1;\">', string(outputs('Compute_KPIs')?['entraRiskDetections']), '</div><div style=\"font-size:11px;color:', if(greater(int(string(outputs('Compute_KPIs')?['entraRiskDetections'])), int(string(coalesce(outputs('Build_PriorKpis')?['entraRiskDetections'],0)))), '#b91c1c', if(less(int(string(outputs('Compute_KPIs')?['entraRiskDetections'])), int(string(coalesce(outputs('Build_PriorKpis')?['entraRiskDetections'],0)))), '#16a34a', '#6e7781')), ';\">', if(greater(int(string(outputs('Compute_KPIs')?['entraRiskDetections'])), int(string(coalesce(outputs('Build_PriorKpis')?['entraRiskDetections'],0)))), concat('&#9650; +', string(sub(int(string(outputs('Compute_KPIs')?['entraRiskDetections'])), int(string(coalesce(outputs('Build_PriorKpis')?['entraRiskDetections'],0)))))), if(less(int(string(outputs('Compute_KPIs')?['entraRiskDetections'])), int(string(coalesce(outputs('Build_PriorKpis')?['entraRiskDetections'],0)))), concat('&#9660; ', string(sub(int(string(outputs('Compute_KPIs')?['entraRiskDetections'])), int(string(coalesce(outputs('Build_PriorKpis')?['entraRiskDetections'],0)))))), '&#8211; flat')), '</div></td>',\n  '<td style=\"padding:10px 12px;text-align:center;border-right:1px solid #e1e4e8;\"><div style=\"font-size:11px;color:#57606a;text-transform:uppercase;letter-spacing:.5px;\">Intune non-compl</div><div style=\"font-size:20px;font-weight:700;color:#7c2d12;line-height:1.1;\">', string(outputs('Compute_KPIs')?['intuneNonCompliant']), '</div><div style=\"font-size:11px;color:', if(greater(int(string(outputs('Compute_KPIs')?['intuneNonCompliant'])), int(string(coalesce(outputs('Build_PriorKpis')?['intuneNonCompliant'],0)))), '#b91c1c', if(less(int(string(outputs('Compute_KPIs')?['intuneNonCompliant'])), int(string(coalesce(outputs('Build_PriorKpis')?['intuneNonCompliant'],0)))), '#16a34a', '#6e7781')), ';\">', if(greater(int(string(outputs('Compute_KPIs')?['intuneNonCompliant'])), int(string(coalesce(outputs('Build_PriorKpis')?['intuneNonCompliant'],0)))), concat('&#9650; +', string(sub(int(string(outputs('Compute_KPIs')?['intuneNonCompliant'])), int(string(coalesce(outputs('Build_PriorKpis')?['intuneNonCompliant'],0)))))), if(less(int(string(outputs('Compute_KPIs')?['intuneNonCompliant'])), int(string(coalesce(outputs('Build_PriorKpis')?['intuneNonCompliant'],0)))), concat('&#9660; ', string(sub(int(string(outputs('Compute_KPIs')?['intuneNonCompliant'])), int(string(coalesce(outputs('Build_PriorKpis')?['intuneNonCompliant'],0)))))), '&#8211; flat')), '</div></td>',\n  '</tr></table>'\n)}"
    },
    "Select_Top5_Vulns": {
      "type": "Select",
      "runAfter": {
        "Build_KPI_Strip": [
          "Succeeded"
        ]
      },
      "inputs": {
        "from": "@take(coalesce(body('Collect_Vulnerabilities_Defender')?['value'], json('[]')), 5)",
        "select": "@concat('<tr><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#1f2328;\">', coalesce(item()?['name'], item()?['id'], '(unknown)'), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#b91c1c;font-weight:600;\">', coalesce(item()?['severity'], '?'), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#1f2328;text-align:right;\">', string(coalesce(item()?['cvssV3'], item()?['cvss'], '-')), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#57606a;text-align:right;\">', string(coalesce(item()?['exposedMachines'], '-')), '</td></tr>')"
      }
    },
    "Select_Top5_Incidents": {
      "type": "Select",
      "runAfter": {
        "Select_Top5_Vulns": [
          "Succeeded"
        ]
      },
      "inputs": {
        "from": "@take(coalesce(body('Collect_XdrIncidents_Graph')?['value'], json('[]')), 5)",
        "select": "@concat('<tr><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#1f2328;\">', coalesce(item()?['displayName'], item()?['id'], '(unknown)'), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;font-weight:600;color:', if(equals(toLower(string(coalesce(item()?['severity'],''))),'high'), '#b91c1c', if(equals(toLower(string(coalesce(item()?['severity'],''))),'medium'), '#d97706', '#6e7781')), ';\">', string(coalesce(item()?['severity'],'?')), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#57606a;\">', string(coalesce(item()?['status'],'-')), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#57606a;text-align:right;\">', substring(string(coalesce(item()?['createdDateTime'],'')),0, if(greater(length(string(coalesce(item()?['createdDateTime'],''))),10),10,length(string(coalesce(item()?['createdDateTime'],''))))), '</td></tr>')"
      }
    },
    "Select_Top5_RiskyUsers": {
      "type": "Select",
      "runAfter": {
        "Select_Top5_Incidents": [
          "Succeeded"
        ]
      },
      "inputs": {
        "from": "@take(coalesce(body('Collect_RiskyUsers_Graph')?['value'], json('[]')), 5)",
        "select": "@concat('<tr><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#1f2328;\">', string(coalesce(item()?['userPrincipalName'], item()?['userDisplayName'], '(unknown)')), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;font-weight:600;color:#b91c1c;\">', string(coalesce(item()?['riskLevel'],'?')), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#57606a;\">', string(coalesce(item()?['riskState'],'-')), '</td><td style=\"padding:6px 8px;border-top:1px solid #eaecef;font-size:13px;color:#57606a;text-align:right;\">', substring(string(coalesce(item()?['riskLastUpdatedDateTime'],'')),0, if(greater(length(string(coalesce(item()?['riskLastUpdatedDateTime'],''))),10),10,length(string(coalesce(item()?['riskLastUpdatedDateTime'],''))))), '</td></tr>')"
      }
    },
    "Build_Top5_Tables": {
      "type": "Compose",
      "runAfter": {
        "Select_Top5_RiskyUsers": [
          "Succeeded"
        ]
      },
      "inputs": {
        "vulns": "@if(empty(body('Select_Top5_Vulns')), '<tr><td style=\"padding:8px;color:#57606a;font-size:13px;\">No critical/high vulnerabilities returned.</td></tr>', join(body('Select_Top5_Vulns'), ''))",
        "incidents": "@if(empty(body('Select_Top5_Incidents')), '<tr><td style=\"padding:8px;color:#57606a;font-size:13px;\">No new XDR incidents this week.</td></tr>', join(body('Select_Top5_Incidents'), ''))",
        "risky": "@if(empty(body('Select_Top5_RiskyUsers')), '<tr><td style=\"padding:8px;color:#57606a;font-size:13px;\">No high-risk identities flagged this week.</td></tr>', join(body('Select_Top5_RiskyUsers'), ''))"
      }
    },
    "Build_WhatsChanged": {
      "type": "Compose",
      "runAfter": {
        "Build_Top5_Tables": [
          "Succeeded"
        ]
      },
      "inputs": "@{if(equals(length(outputs('Init_HistoryEntries')),0),\n  '<li style=\"color:#6e7781;\">First report for this customer &mdash; week-over-week comparison will appear next week.</li>',\n  concat(\n    '<li>Open incidents: ', string(outputs('Compute_KPIs')?['openIncidents']), ' (prior ', string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)), ', delta ', if(greaterOrEquals(sub(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0)))),0),'+',''), string(sub(int(string(outputs('Compute_KPIs')?['openIncidents'])), int(string(coalesce(outputs('Build_PriorKpis')?['openIncidents'],0))))), ')</li>',\n    '<li>High-severity incidents: ', string(outputs('Compute_KPIs')?['highSevIncidents']), ' (prior ', string(coalesce(outputs('Build_PriorKpis')?['highSevIncidents'],0)), ')</li>',\n    '<li>New incidents (7d): ', string(outputs('Compute_KPIs')?['newIncidents']), ' (prior ', string(coalesce(outputs('Build_PriorKpis')?['newIncidents'],0)), ')</li>',\n    '<li>Crit/High vulnerabilities: ', string(outputs('Compute_KPIs')?['vulnsCount']), ' (prior ', string(coalesce(outputs('Build_PriorKpis')?['vulnsCount'],0)), ')</li>',\n    '<li>Risky users: ', string(outputs('Compute_KPIs')?['riskyUsers']), ' (prior ', string(coalesce(outputs('Build_PriorKpis')?['riskyUsers'],0)), ')</li>',\n    '<li>Sentinel cycle cost: ', string(outputs('Compute_KPIs')?['sentinelCostEur']), '&euro; (prior ', string(coalesce(outputs('Build_PriorKpis')?['sentinelCostEur'],0)), '&euro;)</li>'\n  )\n)}"
    },
    "Build_CustomerContext": {
      "type": "Compose",
      "runAfter": {
        "Build_WhatsChanged": [
          "Succeeded"
        ],
        "Init_Language": [
          "Succeeded"
        ]
      },
      "inputs": {
        "audience": "@body('Parse_Customer_Config')?['audience']",
        "industry": "@body('Parse_Customer_Config')?['industry']",
        "tone": "@body('Parse_Customer_Config')?['tone']",
        "focusAreas": "@body('Parse_Customer_Config')?['focusAreas']",
        "language": "@outputs('Init_Language')"
      }
    },
    "Invoke_Copilot_Agent": {
      "type": "ApiConnection",
      "runAfter": {
        "Build_CustomerContext": [
          "Succeeded"
        ]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['securitycopilot']['connectionId']"
          }
        },
        "method": "post",
        "path": "/process-prompt",
        "body": {
          "PromptContent": "@{concat('Run the WeeklySecurityReportEntrypoint skill against the supplied dataset and customer context. Return only the JSON object produced by the skill, with no additional commentary.')}",
          "SkillName": "Nebta.SecurityPulse.WeeklyReport.WeeklySecurityReportEntrypoint",
          "SkillInputs": {
            "Dataset": "@{string(outputs('Build_Dataset'))}",
            "CustomerContext": "@{string(outputs('Build_CustomerContext'))}"
          },
          "Skillsets": [
            "Nebta.SecurityPulse.WeeklyReport"
          ]
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 2,
          "interval": "PT30S"
        }
      }
    },
    "Parse_Copilot_Response": {
      "type": "ParseJson",
      "runAfter": {
        "Invoke_Copilot_Agent": [
          "Succeeded"
        ]
      },
      "inputs": {
        "content": "@trim(replace(replace(coalesce(body('Invoke_Copilot_Agent')?['evaluationResultContent'], body('Invoke_Copilot_Agent')?['EvaluationResultContent'], ''), '```json', ''), '```', ''))",
        "schema": {
          "type": "object",
          "properties": {
            "executiveSummary": {
              "type": "string"
            },
            "riskRating": {
              "type": "string"
            },
            "topActions": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "sections": {
              "type": "object"
            }
          }
        }
      }
    },
    "Compose_RiskColor": {
      "type": "Compose",
      "runAfter": {
        "Parse_Copilot_Response": [
          "Succeeded"
        ]
      },
      "inputs": "@{if(equals(toLower(coalesce(body('Parse_Copilot_Response')?['riskRating'],'moderate')),'critical'),'#b91c1c',if(equals(toLower(coalesce(body('Parse_Copilot_Response')?['riskRating'],'moderate')),'high'),'#dc2626',if(equals(toLower(coalesce(body('Parse_Copilot_Response')?['riskRating'],'moderate')),'elevated'),'#d97706',if(equals(toLower(coalesce(body('Parse_Copilot_Response')?['riskRating'],'moderate')),'low'),'#16a34a','#2563eb'))))}"
    },
    "Compose_TopActionsList": {
      "type": "Compose",
      "runAfter": {
        "Compose_RiskColor": [
          "Succeeded"
        ]
      },
      "inputs": "@{concat('<li>', join(if(empty(body('Parse_Copilot_Response')?['topActions']), createArray('No top actions reported.'), body('Parse_Copilot_Response')?['topActions']), '</li><li>'), '</li>')}"
    },
    "Render_Sections": {
      "type": "Select",
      "runAfter": {
        "Compose_TopActionsList": [
          "Succeeded"
        ],
        "Init_Strings": [
          "Succeeded"
        ]
      },
      "inputs": {
        "from": "@json('[{\"key\": \"vulnerabilities\"}, {\"key\": \"threatLandscape\"}, {\"key\": \"mdtiHighlights\"}, {\"key\": \"xdrIncidents\"}, {\"key\": \"sentinelIncidents\"}, {\"key\": \"riskyIdentities\"}, {\"key\": \"entraIdProtection\"}, {\"key\": \"intuneCompliance\"}, {\"key\": \"purviewDlp\"}, {\"key\": \"sentinelCost\"}]')",
        "select": "@if(equals(coalesce(body('Parse_Customer_Config')?['sectionsEnabled']?[item()['key']], true), true), replace(replace(replace(replace(replace(body('Fetch_Customer_Section'), '{{SECTION_TITLE}}', coalesce(outputs('Init_Strings')?['sectionTitles']?[item()['key']], item()['key'])), '{{SECTION_HEADLINE}}', coalesce(body('Parse_Copilot_Response')?['sections']?[item()['key']]?['headline'], outputs('Init_Strings')?['noData'])), '{{SECTION_BODY}}', coalesce(body('Parse_Copilot_Response')?['sections']?[item()['key']]?['commentary'], outputs('Init_Strings')?['noCommentary'])), '{{SECTION_RECS}}', if(empty(body('Parse_Copilot_Response')?['sections']?[item()['key']]?['recommendations']), '', concat('<ul style=\"font-size:13px;color:#1f2328;margin:8px 0 0 18px;padding:0;\"><li>', join(body('Parse_Copilot_Response')?['sections']?[item()['key']]?['recommendations'], '</li><li>'), '</li></ul>'))), '{{PRIMARY_COLOR}}', coalesce(body('Parse_Customer_Config')?['primaryColor'], '#0b3d91')), '')"
      }
    },
    "Compose_SectionsBlock": {
      "type": "Compose",
      "runAfter": {
        "Render_Sections": [
          "Succeeded"
        ]
      },
      "inputs": "@{join(body('Render_Sections'), '')}"
    },
    "Render_Email_Html": {
      "type": "Compose",
      "runAfter": {
        "Compose_SectionsBlock": [
          "Succeeded"
        ]
      },
      "inputs": "@{replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(replace(\n  outputs('Pick_Template'),\n  '{{CUSTOMER_DISPLAY_NAME}}', coalesce(body('Parse_Customer_Config')?['displayName'], parameters('customerId'))),\n  '{{CUSTOMER_LOGO_URL}}', coalesce(body('Parse_Customer_Config')?['logoUrl'], '')),\n  '{{PRIMARY_COLOR}}', coalesce(body('Parse_Customer_Config')?['primaryColor'], '#0b3d91')),\n  '{{ACCENT_COLOR}}',  coalesce(body('Parse_Customer_Config')?['accentColor'],  '#16a34a')),\n  '{{REPORT_PERIOD_START}}', formatDateTime(addDays(utcNow(),-7),'yyyy-MM-dd')),\n  '{{REPORT_PERIOD_END}}',   formatDateTime(utcNow(),'yyyy-MM-dd')),\n  '{{RISK_RATING}}', coalesce(body('Parse_Copilot_Response')?['riskRating'], 'Moderate')),\n  '{{RISK_COLOR}}',  outputs('Compose_RiskColor')),\n  '{{EXECUTIVE_SUMMARY}}', coalesce(body('Parse_Copilot_Response')?['executiveSummary'], 'No summary available.')),\n  '{{TOP_ACTIONS_LIST}}', outputs('Compose_TopActionsList')),\n  '{{SECTIONS_BLOCK}}', outputs('Compose_SectionsBlock')),\n  '{{KPI_STRIP}}', outputs('Build_KPI_Strip')),\n  '{{TOP5_VULNS_TABLE}}', outputs('Build_Top5_Tables')?['vulns']),\n  '{{TOP5_INCIDENTS_TABLE}}', outputs('Build_Top5_Tables')?['incidents']),\n  '{{TOP5_RISKY_USERS_TABLE}}', outputs('Build_Top5_Tables')?['risky']),\n  '{{WHATS_CHANGED}}', outputs('Build_WhatsChanged'))\n}"
    },
    "Finalize_Email_Html": {
      "type": "Compose",
      "runAfter": {
        "Render_Email_Html": [
          "Succeeded"
        ]
      },
      "inputs": "@{replace(replace(outputs('Render_Email_Html'),\n  '{{FOOTER_TEXT}}', coalesce(body('Parse_Customer_Config')?['footerText'], 'Generated by the Security Pulse Agent.')),\n  '{{GENERATED_UTC}}', utcNow())}"
    },
    "Send_Email": {
      "type": "ApiConnection",
      "runAfter": {
        "Render_Pdf": [
          "Succeeded",
          "Skipped",
          "Failed"
        ],
        "Init_Recipients": [
          "Succeeded"
        ],
        "Init_Strings": [
          "Succeeded"
        ],
        "Compose_PiiHoldback": [
          "Succeeded"
        ]
      },
      "inputs": {
        "host": {
          "connection": {
            "name": "@parameters('$connections')['office365']['connectionId']"
          }
        },
        "method": "post",
        "path": "/v2/Mail",
        "body": {
          "From": "@parameters('senderMailbox')",
          "To": "@if(equals(outputs('Compose_PiiHoldback'), true), if(empty(parameters('opsAlertEmail')), outputs('Init_Recipients'), parameters('opsAlertEmail')), if(equals(outputs('Project_Monthly_Cost')?['capExceeded'], true),  if(empty(parameters('opsAlertEmail')), outputs('Init_Recipients'), parameters('opsAlertEmail')),  outputs('Init_Recipients')))",
          "Subject": "@{if(equals(outputs('Compose_PiiHoldback'), true), concat('[PII GUARD] held back: ', coalesce(body('Parse_Customer_Config')?['displayName'], parameters('customerId')), ' - matched ', string(length(body('Scan_For_Pii_Patterns'))), ' pattern(s)'), if(equals(outputs('Project_Monthly_Cost')?['capExceeded'], true),  concat(outputs('Init_Strings')?['costCapPrefix'], ' ', coalesce(body('Parse_Customer_Config')?['displayName'], parameters('customerId')),  ' - projected ', string(add(outputs('Project_Monthly_Cost')?['sentinelCycleEur'], outputs('Project_Monthly_Cost')?['copilotEstimateEur'])),  ' EUR > cap ', string(parameters('costCapMonthlyEur')), ' EUR'),  concat(coalesce(body('Parse_Customer_Config')?['subject'], outputs('Init_Strings')?['subject']), ' - ', coalesce(body('Parse_Customer_Config')?['displayName'], parameters('customerId')),  ' - ', formatDateTime(utcNow(),'yyyy-MM-dd'))))}",
          "Body": "@outputs('Finalize_Email_Html')",
          "Importance": "@{if(or(equals(outputs('Compose_PiiHoldback'), true), equals(outputs('Project_Monthly_Cost')?['capExceeded'], true)), 'High', 'Normal')}",
          "Attachments": "@if(equals(actions('Compose_PdfBytes')?['status'],'Succeeded'), createArray(json(concat('{\"Name\":\"security-pulse-report.pdf\",\"ContentBytes\":\"', outputs('Compose_PdfBytes'), '\"}'))), json('[]'))"
        }
      }
    },
    "Save_History": {
      "type": "Http",
      "runAfter": {
        "Send_Email": [
          "Succeeded"
        ]
      },
      "inputs": {
        "method": "PUT",
        "uri": "@{concat('https://', parameters('templatesStorageAccount'), '.blob.core.windows.net/', parameters('snapshotsContainer'), '/', parameters('customerId'), '/history.json')}",
        "headers": {
          "x-ms-version": "2021-12-02",
          "x-ms-blob-type": "BlockBlob",
          "Content-Type": "application/json"
        },
        "body": {
          "schemaVersion": 1,
          "entries": "@take(union(createArray(json(concat('{\"weekEndUtc\":\"', utcNow(), '\",\"kpis\":', string(outputs('Compute_KPIs')), '}'))), outputs('Init_HistoryEntries')), 13)"
        },
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 2,
          "interval": "PT10S"
        }
      }
    },
    "Save_Latest_Email": {
      "type": "Http",
      "runAfter": {
        "Send_Email": [
          "Succeeded",
          "Failed",
          "Skipped"
        ]
      },
      "inputs": {
        "method": "PUT",
        "uri": "@{concat('https://', parameters('templatesStorageAccount'), '.blob.core.windows.net/', parameters('reportsContainer'), '/', parameters('customerId'), '/latest.html')}",
        "headers": {
          "x-ms-version": "2021-12-02",
          "x-ms-blob-type": "BlockBlob",
          "Content-Type": "text/html; charset=utf-8"
        },
        "body": "@outputs('Finalize_Email_Html')",
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 2,
          "interval": "PT10S"
        }
      }
    },
    "Save_Latest_Email_Timestamped": {
      "type": "Http",
      "runAfter": {
        "Save_Latest_Email": [
          "Succeeded",
          "Failed",
          "Skipped"
        ]
      },
      "inputs": {
        "method": "PUT",
        "uri": "@{concat('https://', parameters('templatesStorageAccount'), '.blob.core.windows.net/', parameters('reportsContainer'), '/', parameters('customerId'), '/', formatDateTime(utcNow(),'yyyyMMdd-HHmm'), '.html')}",
        "headers": {
          "x-ms-version": "2021-12-02",
          "x-ms-blob-type": "BlockBlob",
          "Content-Type": "text/html; charset=utf-8"
        },
        "body": "@outputs('Finalize_Email_Html')",
        "authentication": {
          "type": "ManagedServiceIdentity",
          "identity": "@parameters('userAssignedIdentityResourceId')",
          "audience": "https://storage.azure.com/"
        },
        "retryPolicy": {
          "type": "exponential",
          "count": 1,
          "interval": "PT10S"
        }
      }
    },
    "On_Failure": {
      "type": "Compose",
      "runAfter": {
        "Pick_Template": [
          "Failed",
          "TimedOut"
        ],
        "Fetch_Customer_Section": [
          "Failed",
          "TimedOut"
        ],
        "Fetch_Customer_Config": [
          "Failed",
          "TimedOut"
        ],
        "Invoke_Copilot_Agent": [
          "Failed",
          "TimedOut"
        ],
        "Parse_Copilot_Response": [
          "Failed"
        ],
        "Send_Email": [
          "Failed",
          "Skipped",
          "TimedOut"
        ]
      },
      "inputs": "Security Pulse run failed. See run history for details."
    },
    "Init_Language": {
      "type": "Compose",
      "runAfter": {
        "Parse_Customer_Config": [
          "Succeeded"
        ]
      },
      "inputs": "@toLower(coalesce(body('Parse_Customer_Config')?['language'], parameters('reportLanguage'), 'en'))"
    },
    "Init_Recipients": {
      "type": "Compose",
      "runAfter": {
        "Parse_Customer_Config": [
          "Succeeded"
        ]
      },
      "inputs": "@{if(greater(length(coalesce(  body('Parse_Customer_Config')?['recipients']?[parameters('templateVariant')],  body('Parse_Customer_Config')?['recipients']?['default'],  json('[]'))), 0), join(coalesce(  body('Parse_Customer_Config')?['recipients']?[parameters('templateVariant')],  body('Parse_Customer_Config')?['recipients']?['default'],  json('[]')), ';'), parameters('recipientEmail'))}"
    },
    "Init_Strings": {
      "type": "Compose",
      "runAfter": {
        "Init_Language": [
          "Succeeded"
        ]
      },
      "inputs": "@if(equals(outputs('Init_Language'),'de'), json('{\"subject\": \"W\u00f6chentlicher Sicherheitsbericht\", \"costCapPrefix\": \"[KOSTENLIMIT \u00dcBERSCHRITTEN]\", \"noData\": \"Keine Daten\", \"noCommentary\": \"Keine Anmerkungen.\", \"sectionTitles\": {\"vulnerabilities\": \"Schwachstellen\", \"threatLandscape\": \"Bedrohungslage\", \"mdtiHighlights\": \"Threat-Intel-Highlights\", \"xdrIncidents\": \"Defender-XDR-Vorf\u00e4lle\", \"sentinelIncidents\": \"Sentinel-Vorf\u00e4lle\", \"riskyIdentities\": \"Risikoidentit\u00e4ten\", \"entraIdProtection\": \"Entra ID Protection\", \"intuneCompliance\": \"Intune-Compliance\", \"purviewDlp\": \"Purview DLP\", \"sentinelCost\": \"Sicherheitskosten (Sentinel + Defender)\"}}'), json('{\"subject\": \"Weekly Security Report\", \"costCapPrefix\": \"[COST CAP EXCEEDED]\", \"noData\": \"No data\", \"noCommentary\": \"No commentary.\", \"sectionTitles\": {\"vulnerabilities\": \"Vulnerabilities\", \"threatLandscape\": \"Threat landscape\", \"mdtiHighlights\": \"Threat intel highlights\", \"xdrIncidents\": \"Defender XDR incidents\", \"sentinelIncidents\": \"Sentinel incidents\", \"riskyIdentities\": \"Risky identities\", \"entraIdProtection\": \"Entra ID Protection\", \"intuneCompliance\": \"Intune compliance\", \"purviewDlp\": \"Purview DLP\", \"sentinelCost\": \"Security cost (Sentinel + Defender)\"}}'))"
    },
    "Render_Pdf": {
      "type": "If",
      "runAfter": {
        "Finalize_Email_Html": [
          "Succeeded"
        ]
      },
      "expression": {
        "and": [
          {
            "equals": [
              "@coalesce(body('Parse_Customer_Config')?['pdfAttachment'], false)",
              true
            ]
          }
        ]
      },
      "actions": {
        "Init_PdfTempName": {
          "type": "Compose",
          "inputs": "@{concat('secpulse-', parameters('customerId'), '-', formatDateTime(utcNow(),'yyyyMMddHHmmss'), '-', guid())}"
        },
        "Init_PdfDriveUpn": {
          "type": "Compose",
          "runAfter": {
            "Init_PdfTempName": [
              "Succeeded"
            ]
          },
          "inputs": "@coalesce(body('Parse_Customer_Config')?['pdfDriveUserUpn'], parameters('senderMailbox'))"
        },
        "Upload_Html_To_OneDrive": {
          "type": "Http",
          "runAfter": {
            "Init_PdfDriveUpn": [
              "Succeeded"
            ]
          },
          "inputs": {
            "method": "PUT",
            "uri": "@{concat('https://graph.microsoft.com/v1.0/users/', outputs('Init_PdfDriveUpn'), '/drive/root:/secpulse-tmp/', outputs('Init_PdfTempName'), '.html:/content')}",
            "headers": {
              "Content-Type": "text/html"
            },
            "body": "@outputs('Finalize_Email_Html')",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 2,
              "interval": "PT15S"
            }
          }
        },
        "Get_Pdf": {
          "type": "Http",
          "runAfter": {
            "Upload_Html_To_OneDrive": [
              "Succeeded"
            ]
          },
          "inputs": {
            "method": "GET",
            "uri": "@{concat('https://graph.microsoft.com/v1.0/users/', outputs('Init_PdfDriveUpn'), '/drive/items/', body('Upload_Html_To_OneDrive')?['id'], '/content?format=pdf')}",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            },
            "retryPolicy": {
              "type": "exponential",
              "count": 2,
              "interval": "PT15S"
            }
          }
        },
        "Compose_PdfBytes": {
          "type": "Compose",
          "runAfter": {
            "Get_Pdf_Content": [
              "Succeeded"
            ]
          },
          "inputs": "@{base64(body('Get_Pdf_Content'))}"
        },
        "Delete_Tmp_Html": {
          "type": "Http",
          "runAfter": {
            "Get_Pdf_Content": [
              "Succeeded",
              "Failed"
            ]
          },
          "inputs": {
            "method": "DELETE",
            "uri": "@{concat('https://graph.microsoft.com/v1.0/users/', outputs('Init_PdfDriveUpn'), '/drive/items/', body('Upload_Html_To_OneDrive')?['id'])}",
            "authentication": {
              "type": "ManagedServiceIdentity",
              "identity": "@parameters('userAssignedIdentityResourceId')",
              "audience": "https://graph.microsoft.com"
            }
          }
        },
        "Get_Pdf_Content": {
          "type": "Http",
          "runAfter": {
            "Get_Pdf": [
              "Succeeded",
              "Failed"
            ]
          },
          "inputs": {
            "method": "GET",
            "uri": "@{coalesce(outputs('Get_Pdf')?['headers']?['Location'], concat('https://graph.microsoft.com/v1.0/users/', outputs('Init_PdfDriveUpn'), '/drive/items/', body('Upload_Html_To_OneDrive')?['id'], '/content?format=pdf'))}",
            "retryPolicy": {
              "type": "exponential",
              "count": 2,
              "interval": "PT15S"
            }
          }
        }
      }
    },
    "Notify_Teams": {
      "type": "If",
      "runAfter": {
        "Send_Email": [
          "Succeeded",
          "Failed"
        ]
      },
      "expression": {
        "and": [
          {
            "not": {
              "equals": [
                "@coalesce(body('Parse_Customer_Config')?['teamsWebhookUrl'], '')",
                ""
              ]
            }
          }
        ]
      },
      "actions": {
        "Post_Teams_Card": {
          "type": "Http",
          "inputs": {
            "method": "POST",
            "uri": "@coalesce(body('Parse_Customer_Config')?['teamsWebhookUrl'], '')",
            "headers": {
              "Content-Type": "application/json"
            },
            "body": {
              "type": "message",
              "attachments": [
                {
                  "contentType": "application/vnd.microsoft.card.adaptive",
                  "content": {
                    "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
                    "type": "AdaptiveCard",
                    "version": "1.4",
                    "body": [
                      {
                        "type": "TextBlock",
                        "size": "Large",
                        "weight": "Bolder",
                        "text": "@{concat(outputs('Init_Strings')?['subject'], ' - ', coalesce(body('Parse_Customer_Config')?['displayName'], parameters('customerId')))}"
                      },
                      {
                        "type": "TextBlock",
                        "spacing": "Small",
                        "isSubtle": true,
                        "text": "@{formatDateTime(utcNow(),'yyyy-MM-dd')}"
                      },
                      {
                        "type": "FactSet",
                        "facts": [
                          {
                            "title": "Open incidents",
                            "value": "@{string(outputs('Compute_KPIs')?['openIncidents'])}"
                          },
                          {
                            "title": "High-sev (7d)",
                            "value": "@{string(outputs('Compute_KPIs')?['highSevIncidents'])}"
                          },
                          {
                            "title": "Vulnerabilities",
                            "value": "@{string(outputs('Compute_KPIs')?['vulnsCount'])}"
                          },
                          {
                            "title": "Risky users",
                            "value": "@{string(outputs('Compute_KPIs')?['riskyUsers'])}"
                          },
                          {
                            "title": "Entra IDP risk",
                            "value": "@{string(outputs('Compute_KPIs')?['entraRiskDetections'])}"
                          },
                          {
                            "title": "Intune non-compl",
                            "value": "@{string(outputs('Compute_KPIs')?['intuneNonCompliant'])}"
                          },
                          {
                            "title": "Sentinel GB",
                            "value": "@{string(outputs('Compute_KPIs')?['sentinelGbCycle'])}"
                          },
                          {
                            "title": "Sentinel EUR",
                            "value": "@{string(outputs('Compute_KPIs')?['sentinelCostEur'])}"
                          }
                        ]
                      },
                      {
                        "type": "TextBlock",
                        "wrap": true,
                        "size": "Small",
                        "color": "Accent",
                        "text": "Full HTML report has been emailed to the configured recipients."
                      }
                    ]
                  }
                }
              ]
            },
            "retryPolicy": {
              "type": "fixed",
              "count": 2,
              "interval": "PT10S"
            }
          }
        }
      }
    },
    "Scan_For_Pii_Patterns": {
      "type": "Query",
      "runAfter": {
        "Finalize_Email_Html": [
          "Succeeded"
        ]
      },
      "inputs": {
        "from": "@coalesce(body('Parse_Customer_Config')?['pii']?['blockSubstrings'], json('[]'))",
        "where": "@and(greater(length(item()),0), contains(toLower(outputs('Finalize_Email_Html')), toLower(item())))"
      }
    },
    "Compose_PiiHoldback": {
      "type": "Compose",
      "runAfter": {
        "Scan_For_Pii_Patterns": [
          "Succeeded"
        ]
      },
      "inputs": "@and(equals(coalesce(body('Parse_Customer_Config')?['pii']?['abortOnFinding'], false), true), greater(length(body('Scan_For_Pii_Patterns')), 0))"
    }
  },
  "outputs": {}
}